.table-responsive {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 905px;
  border-spacing: 0;
  margin-top: 2rem;
}

.table-responsive::-webkit-scrollbar{
  display: none;
}
.Encabezado{
  text-align: center;
}
tbody{
  tr{
    td{
      padding: 10px;
      text-align: center;
    }
  }
}

.darkgreen{
  background-color: darkgreen;
  color-interpolation-filters: 10px;

}
.darkred{
  background-color: darkred;
}
.spinner-grow{
  text-align: center;
}
.list-group-item{
  color: black;
}

.modal.show .modal-dialog {
  transform: translate(0, 0%);
  margin-top: 5px;
  position: inherit;

  .modal-content {
    position: absolute;
  }
}







