<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Comuna 2:</h4>
        <ul class="list-unstyled">
          <li>IPS La Campiña - Avenida 9 N norte Calle 47</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h4>Comuna 4:</h4>
        <ul class="list-unstyled">
          <li>IPS Calima - Calle 67 Carrera 6N</li>
          <li>IPS La Isla - Calle 38NN No. 8n - 40</li>
          <li>IPS Popular - Carrera 2 No. 45 A N - 77</li>
          <li>IPS Porvenir - Calle 31 A # 4 B - 22</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h4>Comuna 5:</h4>
        <ul class="list-unstyled">
          <li>Sede Administrativa - Calle 46 C N° 3B - 00</li>
          <li>IPS La Rivera - Carrera 1 G No. 65 - 35</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h4>Comuna 6:</h4>
        <ul class="list-unstyled">
          <li>IPS Floraria - Calle 82 E Carrera 3 AN - 00</li>
          <li>IPS Floraria I - Calle 72 C No. 3 BN - 53</li>
          <li>IPS Petecuy II - Calle 74 Carrera 1C1 - 1</li>
          <li>IPS Petecuy III - Carrera 1 Calle 75 - 00</li>
          <li>IPS San Luis I - Calle 71 No. 1 A 10 - 53</li>
          <li>IPS San Luis II - Calle 72 C No. 1 A 2 - 61</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h4>Comuna 7:</h4>
        <ul class="list-unstyled">
          <li>Hospital Joaquín Paz Borrero - Carrera 7a entre calles 72A y 72B</li>
          <li>IPS Alfonso López III - Calle 74 Carerra 7M Bis</li>
          <li>IPS Las Ceibas - Calle 65 Carrera 7D Bis</li>
          <li>IPS 7 de Agosto - Carrera 11 B Calle 72</li>
          <li>IPS Puerto Mallarino - Carrera 9 No. 76 - 35</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
