<!--<p>primera-infancia works!</p>-->

<!-- <div class="spinner-grow" role="status" *ngIf="!spinner">
  <span class="visually-hidden">LOADING...</span>
</div>
 -->

<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <a href={{excel}} descarga="archivo.xlsx" class="btn btn-danger btn-sm" *ngIf="spinner">DESCARGAR EXCEL</a>
          </div>

        <div class="sk-circle" *ngIf="!spinner">
          <div class="sk-circle1 sk-child"></div>
          <div class="sk-circle2 sk-child"></div>
          <div class="sk-circle3 sk-child"></div>
          <div class="sk-circle4 sk-child"></div>
          <div class="sk-circle5 sk-child"></div>
          <div class="sk-circle6 sk-child"></div>
          <div class="sk-circle7 sk-child"></div>
          <div class="sk-circle8 sk-child"></div>
          <div class="sk-circle9 sk-child"></div>
          <div class="sk-circle10 sk-child"></div>
          <div class="sk-circle11 sk-child"></div>
          <div class="sk-circle12 sk-child"></div>
        </div>

        <div *ngIf="spinner" class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class=" card-header">
            <h4 class=" card-title">{{ cursoVidaData[0].NOMBRE }} : {{ total  }}</h4>
          </div>
          <div class=" card-header">
            <h4 class=" card-title"> ATENDIDOS : {{ atendidos[0].atendidos  }}</h4>
          </div>
          <div class=" card-header">
            <h4 class=" card-title"> SIN ATENCIÓN : {{ noAtendidos[0].noAtendidos  }}</h4>
          </div>

          <button
          class=" btn btn-link"data-target="#searchModal"data-toggle="modal"
          (click)="open(content)"
          id="search-button">
          <i class=" tim-icons icon-zoom-split"> </i>
          <span class=" d-lg-none d-md-block"> Search </span>
        </button>

        </div>
        <div class=" card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="">
              <thead>
                <tr class="Encabezado" *ngIf="spinner">
                  <th>NUMERO_DOCUMENTO</th>
                  <th>APELLIDO1</th>
                  <th>APELLIDO2</th>
                  <th>NOMBRE1</th>
                  <th>NOMBRE2</th>
                  <th>TELEFONO</th>
                  <th>CODIGO</th>
                  <th>ATENDIDO</th>
                  <th>CUPS</th>
                  <th>VER</th>
                </tr>
              </thead>
              <tbody class="data">
                <tr *ngFor ="let table of cursoVidaData">
                  <td>{{ table.NUMERO_DOCUMENTO }}</td>
                  <td>{{ table.APELLIDO1 }}</td>
                  <td>{{ table.APELLIDO2 }}</td>
                  <td>{{ table.NOMBRE1 }}</td>
                  <td>{{ table.NOMBRE2 }}</td>
                  <td>{{ table.TELEFONO_RECIDENCIA }}</td>
                  <td>{{ table.CODIGO }}</td>
                  <td [ngClass]="table.ATENDIDO == true ? 'darkgreen' : 'darkred'">{{ table.ATENDIDO }}</td>
                  <td [ngClass]="table.ATENDIDO == true ? 'darkgreen' : 'darkred'">{{ table.CUPS }}</td>
                  <td>
                    <button (click)="modalOpen(pacientesModal, table)" class=" tim-icons icon-bullet-list-67 btn btn-danger btn-sm">
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer" *ngIf="spinner">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="mr-lg-2">
              <p>total: {{ total }}</p>
            </div>
            <button class="btn btn-danger btn-sm mr-lg-2" [disabled]="page==1" (click)="pageAtras()"> Atras </button>
            <div class="mr-lg-2">
              <p> {{ page }} - {{ totalpage }}</p>
            </div>
            <button class="btn btn-danger btn-sm" [disabled]="islast" (click)="pageSiguiente()"> Siguiente </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- buscar paciente -->
<ng-template #content let-modal>
  <div class=" modal-header">
    <input
      class=" form-control"
      id="inlineFormInputGroup"
      placeholder="SEARCH"
      (keyup)="buscar($event)"
      type="text"/>
    <button aria-label="Close"class=" close"data-dismiss="modal"type="button"(click)="modal.dismiss('Cross click')">
      <i class=" tim-icons icon-simple-remove"></i>
    </button>
    <button aria-label="Close"class=" close"data-dismiss="modal"type="button"(click)="buscarCursoVida1(); modal.dismiss('Cross click')"
    type="button" class="btn btn-light">
      buscar
    </button>
  </div>
  <div class="modal-body">
    <p *ngFor="let item of arrayId">{{ item }}</p>
  </div>
</ng-template>

<!-- fin buscar paciente -->

<!--detalles del paciente-->
  <ng-template #pacientesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">HISTORIA DEL PACIENTE</h4>
      <button type="button"  class=" tim-icons icon-simple-remove btn btn-light" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <div class=" card-body">
        <ul class="list-group">
          <!-- <li class="list-group-item"><b>CÓDIGO IPS:</b> {{ paciente.IPS }}</li> -->
          <li class="list-group-item"><b>NOMBRE IPS:</b> {{ paciente.NOMBRE_IPS }}</li>
          <li class="list-group-item"><b>TIPO DE DOCUMENTO:</b> {{ paciente.TIPO_DOCUMENTO }}</li>
          <li class="list-group-item"><b>NÚMERO DOCUMENTO:</b> {{ paciente.NUMERO_DOCUMENTO }}</li>
          <li class="list-group-item"><b>POBLACIÓN ESPECIAL:</b> {{ paciente.POBLACION_ESPECIAL }}</li>
          <li class="list-group-item"><b>APELLIDO1:</b> {{ paciente.APELLIDO1 }}</li>
          <li class="list-group-item"><b>APELLIDO2:</b> {{ paciente.APELLIDO2 }}</li>
          <li class="list-group-item"><b>NOMBRE1:</b> {{ paciente.NOMBRE1 }}</li>
          <li class="list-group-item"><b>NOMBRE2:</b> {{ paciente.NOMBRER2 }}</li>
          <li class="list-group-item"><b>FECHA NACIMIENTO:</b> {{ paciente.FECHA_NACIMIENTO }}</li>
          <li class="list-group-item"><b>GENERO:</b> {{ paciente.SEXO }}</li>
          <li class="list-group-item"><b>EMBARAZO:</b> {{ paciente.EMBARAZO }}</li>
          <li class="list-group-item"><b>TIPO DE DISCAPACIDAD</b>: {{ paciente.TIPO_DISCAPACIDAD }}</li>
          <li class="list-group-item"><b>GRADO DE DISCAPACIDAD:</b> {{ paciente.GRADO_DISCAPACIDAD }}</li>
          <li class="list-group-item"><b>DIRECCIÓN DE RESIDENCIA:</b> {{ paciente.DIRECCION_RECIDENCIA }}</li>
          <li class="list-group-item"><b>TELÉFONO MÓVIL:</b> {{ paciente.TELEFONO_RECIDENCIA }}</li>
          <!-- <li class="list-group-item"><b>CÓDIGO DEL BARRIO:</b> {{ paciente.CODIGO_BARRIO }}</li> -->
          <li class="list-group-item"><b>COMUNA:</b> {{ paciente.COMUNA }}</li>
          <li class="list-group-item"><b>NOMBRE DEL BARRIO:</b> {{ paciente.BARRIO }}</li>
          <li class="list-group-item"><b>ÉTNICO:</b> {{ paciente.ETNICO }}</li>
          <li class="list-group-item"><b>NOMBRE DEL PAÍS:</b> {{ paciente.PAIS }}</li>
          <li class="list-group-item"><b>CURSO DE VIDA:</b> {{ paciente.NOMBRE }}</li>
<!--           <li class="list-group-item"><b>NOMBRE DEL SERVICIO:</b> {{ paciente.CUPS }}</li>
          <li class="list-group-item"><b>FECHA DE CITA:</b> {{ paciente.ATENCION_FACTURA }}</li>
          <li class="list-group-item"><b>CÓDIGO DEL DIAGNÓSTICO:</b> {{ paciente.CODIGO }}</li>
          <li class="list-group-item"><b>ATENCIÓN:</b> {{ paciente.ATENDIDO }}</li> -->
          <li class="list-group-item"><b>EDAD DEL PACIENTE:</b> {{ paciente.EDAD }} AÑOS</li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
<!--fin detalles del paciente-->
